@font-face {
  font-family: "Baskerville";
  src: url(./fonts/Baskervville-Regular.woff) format("woff2");
  src: url(./fonts/Baskervville-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("./fonts/AvenirNext-Medium.woff") format("woff2");
  src: url("./fonts/AvenirNext-Medium.woff2") format("woff2");
  /*src: url("./fonts/AvenirNext-UltraLight.woff") format("woff2");
  src: url("./fonts/AvenirNext-UltraLight.woff2") format("woff2"); */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url("./fonts/AvenirNext-Regular.woff") format("woff2");
  src: url("./fonts/AvenirNext-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrooklynSamuelsFive";
  src: url(./fonts/BrooklynSamuelsFive-Bold.woff) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Bold.woff2) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Thin.woff) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Thin.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrooklynSamuelsFive-Medium";
  src: url(./fonts/BrooklynSamuelsFive-Medium.woff) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BrooklynSamuelsFive-Light";
  src: url(./fonts/BrooklynSamuelsFive-Light.woff) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Light.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrooklynSamuelsFive-Fat";
  src: url(./fonts/BrooklynSamuelsFive-Fat.woff) format("woff2");
  src: url(./fonts/BrooklynSamuelsFive-Fat.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(./fonts/HelveticaNeueLTGEOW82-35Th.woff);
  src: url(./fonts/HelveticaNeueLTGEOW82-35Th.woff2);
  src: url(./fonts/HelveticaNeueLTGEOW82-45Lt-Regular.woff);
  src: url(./fonts/HelveticaNeueLTGEOW82-45Lt-Regular.woff2);
  src: url(./fonts/HelveticaNeueLTGEOW82-55Rm.woff);
  src: url(./fonts/HelveticaNeueLTGEOW82-55Rm.woff2);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AvenirNext", "Baskerville", "BrooklynSamuelsFive",
    "HelveticaNeue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ol,
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 7.2rem;
  cursor: pointer;

  font-family: "Baskerville";
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.section-1 {
  height: 100vh;
}

.hero-1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./images/cover-1.jpg");
  background-size: cover;
  background-position: center;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.hero-2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("./images/cover-2.jpg");
  background-size: cover;
  background-position: center;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.hero-3 {
  position: absolute;
  z-index: -1;
  background-image: url("./images/cover-3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.hero-4 {
  position: absolute;
  z-index: -1;
  background-image: url("./images/cover-4.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 4rem 11rem 0;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 50%;
  margin-bottom: -10px;
}

.logo-text-sm {
  font-size: 11px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-59%, -92%);
}

/* HORIZONTAL LINE / PAGE NUMBERS */

.number-text {
  position: absolute;
  top: 50%;
  transform: translate(110%, 90%) rotate(90deg);
  font-size: 2rem;
  color: #fff;
  left: 6%;

  font-family: "Baskerville";
}
.horizontal-line {
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-30%, -10%);
}

hr {
  width: 20rem;
  height: 2px;
  background-color: #fff;
  border: none;
  transform: translate(0, 160px) rotate(90deg);
}

.slide-count {
  position: absolute;
  transform: translate(94px, 255px) rotate(90deg);
  font-size: 2rem;
  color: #fff;
  font-family: "Baskerville";
}

/* ****************MENU/SIDE-BARS************* */

.menu {
  width: 3.2rem;
  height: 3.2rem;
  color: #fff;
  cursor: pointer;
}

.close {
  width: 3.2rem;
  height: 3.2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.logo {
  z-index: 99999;
  color: #fff;
}

.logo-text {
  font-size: 1.4rem;
  font-family: "BrooklynSamuelsFive";
  font-weight: 800;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  gap: 4.8rem;
  padding-bottom: 10rem;
  right: -800px;
  width: 350px;
  font-family: "BrooklynSamuelsFive";
  font-weight: bolder;

  position: absolute;
  height: 100vh;
  top: 0;
  background-color: #386741;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  z-index: 9999999;
}

#side-bar.show {
  right: 0;
}

.menu-list {
  list-style: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

.menu-list:hover,
.menu-list:active {
  color: #d2d6c3;
  transition: all 0.2 ease-in-out;
}

#side-bar li {
  position: relative;
}

.menu-list::before,
.menu-list::after {
  animation: change-color 1s ease-out;
  transition: all 3s ease-out 3s; /* adds transition effect with 1s delay */
}

@keyframes change-color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-list:hover::before,
.menu-list:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background-color: #d2d6c3;
  margin: 0 auto;
  transform: translate(20%, -10px);
}

.menu-list:hover::after {
  transform: translate(20%, 10px);
}

/* *********************** SOCIAL MEDIA LINKS ***********************  */

.links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-end;
  padding: 5rem;
  position: absolute;
  top: 77%;
  right: 10%;
  transform: translate(64%, -2%);
}

.fb,
.instagram {
  width: 2.8rem;
  height: 2.8rem;
}

/* ********************* CAROUSEL ************************ */

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: red;
  transform: translate(38px, 71px);
}

.dot {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.8;
}

.active-slide {
  background-color: #fff;
  height: 1.8rem;
  width: 1.8rem;
  opacity: 1;
}

.mySlides {
  display: none;
}

/* ****************** HEADINGS **************** */

.heading {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
  margin-left: 12rem;
  letter-spacing: 1.5px;
  text-align: center;
}

.heading-primary {
  color: #fff;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2px;
}

.description {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "AvenirNext-Medium";

  color: #fff;
  font-size: 1.8rem;
}

/* ***************** SECTION-2 ***************** */

.mobile-image {
  width: 100%;
}

.section-2 {
  padding: 10rem 0;
  background-color: #fbfbfb;
}

.history-heading {
  font-size: 5.8rem;
  margin-bottom: 5rem;
  font-weight: 500;
}

.history-text {
  color: #333;
  font-size: 1.8rem;
  line-height: 1.3;
}

.history-desc-wrapper {
  position: relative;
}

.read-more-btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  margin-top: 1rem;
  text-align: right;
  text-transform: uppercase;
  color: #595959;
  font-family: "Baskerville";
}

.btn-position {
  display: flex;
  align-items: flex-end;
  /* display: none; */
}
.hidden-text {
  display: none;
}

.history-desc {
  width: 90%;
  color: #292929;
  line-height: 1.5;
  font-family: "AvenirNext-Regular";
  font-size: 1.7rem;
  opacity: 0.6;
}

.history-photos {
  transition: opacity 0.5 ease-in-out;
  padding-right: 2rem;
  position: relative;
  z-index: 2;
}

.main-photo {
  max-width: 75%;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondary {
  width: 32%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: none;
  transform: translate(50%, -50%);
}

.history-number {
  position: absolute;
  font-size: 17rem;
  top: -3%;
  right: 19%;
  transform: translate(40%, -7%);
  color: #f1e8cf;
  font-family: "BrooklynSamuelsFive-Fat";
  font-weight: bold;
  z-index: -1;
}

.zero {
  position: absolute;
  font-size: 17rem;
  top: -3%;
  left: 67%;
  transform: translate(50%, -7%);
  color: #837e1b;
  opacity: 0.3;
  font-family: "BrooklynSamuelsFive";
  font-weight: 900;
  z-index: -999;
}

.prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.2rem;
  position: absolute;
  bottom: 5%;
  left: 43%;
  transform: translate(-41%, 80%);
}

.prev-next li:nth-child(2) {
  height: 50%;
  font-weight: 800;
}
.previous {
  cursor: pointer;
}

.next {
  cursor: pointer;
}

/* *******************SECTION-3********************* */
.section-3 {
  background-color: #fef7e3;
  padding: 7.6rem 0;
  height: 100vh;
  position: relative;
}

.setting-box {
  width: 42%;
}

.setting-heading {
  font-size: 6rem;
  margin-bottom: 4.8rem;
  font-family: " Baskerville ";
  font-weight: 300;
}

.setting-description {
  font-size: 1.7rem;
  color: #292929;
  font-family: "AvenirNext-Regular";
  opacity: 0.7;
}

.setting-photos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-photo {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  transform: translate(15%, 40%);
  height: 60%;

  z-index: 9999;
}

.left-photo {
  transform: rotate(7deg) translate(10%, 48%);
  width: 30%;
}
.top-photo {
  position: absolute;
  top: 20%;
  transform: translate(27%, -10%) rotate(320deg);
  width: 13%;
}
.right-photo {
  width: 30%;
  transform: translate(72%, 49%) rotate(-9deg);
}
.setting-prev-next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.2rem;
  position: absolute;
  bottom: 11%;
  right: -5%;
  transform: translate(-61%, 50%);
}
.setting-title-wrapper {
  position: relative;
}

.setting-title {
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  font-size: 9.6rem;
  transform: rotate(270deg) translate(0%, -84%);
  bottom: 50%;
  right: 40%;
  opacity: 0.1;
  font-family: "BrooklynSamuelsFive-Fat";
  font-weight: 800;
}

/* ************* SECTION-4 ************* */

.section-4 {
  padding: 7.6rem;
}

.century-heading {
  font-size: 6.2rem;
  font-weight: 300;
  padding: 4.2rem;
  color: #393939;
}

.century {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.th-century {
  padding: 6.2rem;
  font-size: 2.4rem;
  font-family: "AvenirNext-Regular";

  cursor: pointer;
}

.century-text {
  font-family: "Baskerville";
  font-weight: 300;
}

.century-villa {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: auto; /* 2 rows */
  gap: 2rem;
  height: 50vh;
  margin-top: 5.8rem;
  margin-bottom: 32rem;
}

.cube2 {
  grid-column: 2;
  grid-row: 1;
  height: 24vh;
}

.cube3 {
  grid-column: 2;
  grid-row: 1;
  background-color: #386741;
  color: #fff;
  padding: 4rem;
  font-size: 2.8rem;
  height: 35%;
  align-self: flex-end;
}

.villa-1-photo,
.villa-2-photo,
.villa-4-photo {
  max-width: 100%;
  height: auto;
}

.villa-heading {
  font-family: "Baskerville";
}

.villa-description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
}

.enquire-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* set a width that suits your design */
}

.enquire {
  text-align: center;
  font-size: 7.6rem;
  color: #393939;
  font-family: "Baskerville";
  margin: 2.4rem 4.4rem 7.2rem 0;
  /* margin-bottom: 7.2rem; */
}

/* SECTION-SERVICES */

.section-5 {
  background-color: #fbfbfb;
  padding: 7.6rem 0;
  height: 150vh;
}

.service-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-heading {
  font-size: 6.2rem;
  font-weight: 300;
}

.service-box {
  margin-top: 5rem;
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  gap: 12rem;
}

.service-image-box {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4.8rem;
  border: 1px dashed rgba(57, 57, 57, 0.1);
  border-width: 1.6px;
}

.service-list-box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14rem;
}

.service-number {
  font-size: 7.4rem;
  font-family: "BrooklynSamuelsFive-Medium";
  font-weight: 700;
  color: #a7c958;
  opacity: 0.5;
  transition: 0.3s;
}

.list-hover-1,
.list-hover-2,
.list-hover-3 {
  /* text-align: start; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .service-number:hover {
  opacity: 1;
} */

.service-title-box {
  display: flex;
  flex-direction: column;
}

.span-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  font-size: 2.2rem;
  font-family: "Baskerville";
}

.service-details {
  font-size: 1.6rem;
  font-family: "AvenirNext-Regular";
  color: #595959;
}

.list-1 {
  grid-column: 1/3;
  /* width: 40%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -10rem;
}

.list-2 {
  grid-column: 2/3;
  /* width: 40%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -10rem;
}

.list-3 {
  grid-column: -1/-3;
  /* width: 40%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-photo {
  max-width: 100%;
}

.service-description {
  color: #595959;
  font-size: 1.8rem;
  font-family: "BrooklynSamuelsFive-Light";
}

.service-button {
  display: flex;
  gap: 1rem;
}

.service-btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2.4rem;
  cursor: pointer;

  font-family: "Baskerville";
}

/* SECTION-WINEMAKING */

.section-6 {
  padding-bottom: 5rem;
  background-color: #fbfbfb;
}

.winemaking-box {
  padding-top: 10.4rem;
  display: flex;
  gap: 10rem;
}

.winemaking-text {
  width: 60%;
}

.winemaking-title {
  font-size: 6.4rem;
  color: #393939;
  font-family: "Baskerville";
  font-weight: 300;
  line-height: 1.3;
}

.winemaking-description {
  margin-top: 5.2rem;
  color: #595959;
  font-size: 2rem;
  font-family: "AvenirNext-Regular";
}

.winemaking-photo {
  max-width: 115%;
  padding: 6.2rem;
  padding-bottom: 17.6rem;
  background-color: #fff;
}

.winemaking-image-box {
  position: relative;
}

.winemaking-dots {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 10%;
  left: 58%;
  transform: translate(-50%, 0);
}

.wine-dot {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.8;
}

.wine-dot-active {
  background-color: #386741;
}

/* FOOOOOTEEEER */

footer {
  background-color: #386741;
  height: 100vh;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.box-1,
.box-2,
.box-3 {
  padding-top: 6.6rem;
}

.box-1 {
  display: flex;
  flex-direction: column;
}

.box-2 {
  display: flex;
  flex-direction: column;
  gap: 7.4rem;
}

.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.email-link,
.phone-link {
  font-size: 1.8rem;
  font-family: "AvenirNext-Regular";
}

.box-3 {
  padding-right: 10.2rem;
}

.contact-heading {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.contact-list li {
  font-size: 1.4rem;
  text-decoration: none;
}

.contact-list li:hover {
  color: #fff;
}

.full-name,
.email-phone {
  display: flex;
  gap: 5.2rem;
}

.fName,
.lName,
.email,
.phone,
.textarea,
.send {
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.29);
  padding-bottom: 1rem;
  outline: none;
  color: #fff;
  font-size: 1.4rem;
}

.send {
  color: hsla(0, 0%, 100%, 0.29);
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  font-family: "BrooklynSamuelsFive";
  font-weight: 700;
  width: 15%;
  float: right;
  transition: all 1s ease-in-out;
}

.contact-inputs input::placeholder {
  font-size: 1.8rem;
  font-family: "AvenirNext-Regular";
}

.textarea {
  padding-bottom: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.footer-fb,
.footer-instagram {
  width: 20px;
  height: 20px;
}

.social-subscription {
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.subscribe input::placeholder {
  font-size: 1.8rem;
  font-family: "AvenirNext-Regular";
}

.arrow-right {
  color: hsla(0, 0%, 100%, 0.29);
  background-color: transparent;
  width: 40px;
  height: 20px;
}

.footer-links {
  width: 130rem;
  margin: 0 auto;
}

.nav-links {
  width: 600px;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  font-size: 1.7rem;
  margin-top: 8.4rem;
  gap: 8rem;
  font-family: "AvenirNext-Regular";
}

.privacy-policy {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  font-family: "AvenirNext-Regular";
  color: rgba(210, 211, 211, 0.2);
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  font-size: 1.4rem;
  font-weight: 600;
  /* color: #ff4234; */
}

/* MEDIA */

.case-2 {
  display: none;
}

@media (max-width: 1400px) {
  .century-villa {
    margin-bottom: 24rem;
  }

  .setting-title {
    transform: rotate(270deg) translate(-8%, -84%);
    right: 38%;
  }
  .cube3 {
    padding-top: 2rem;
  }
}

@media (max-width: 1248px) {
  .cube3 {
    padding: 3rem;
    font-size: 1.8rem;
  }

  .setting-title {
    transform: rotate(270deg) translate(-9%, -83%);
  }
  .center-photo {
    transform: translate(20%, 50%);
    height: 50%;
    z-index: 9999;
  }
  .top-photo {
    position: absolute;
    top: 20%;
    transform: translate(45%, 2%) rotate(320deg);
    width: 13%;
  }

  .left-photo {
    transform: rotate(7deg) translate(21%, 39%);
    width: 30%;
    z-index: 9;
  }

  .right-photo {
    width: 30%;
    transform: translate(44%, 39%) rotate(-9deg);
  }

  .winemaking-description {
    font-size: 1.6rem;
  }
}

@media (max-width: 1200px) {
  .center-photo {
    top: 0%;
    height: 45%;
  }

  .left-photo {
    transform: rotate(7deg) translate(6%, 10%);
    width: 35%;
  }

  .right-photo {
    width: 35%;
    transform: translate(60%, 10%) rotate(-9deg);
  }

  .top-photo {
    transform: translate(36%, 0%) rotate(320deg);
    width: 15%;
  }

  .setting-heading {
    width: 80%;
    padding-top: 5rem;
  }

  .setting-description {
    width: 80%;
  }
  .winemaking-photo {
    max-width: 115%;
  }
  .section-5 {
    height: 130vh;
  }

  .contact {
    gap: 8rem;
  }

  .full-name,
  .email-phone {
    gap: 5.2rem;
  }

  .contact-heading {
    font-size: 2rem;
  }

  .fName,
  .lName,
  .email,
  .phone,
  .textarea {
    font-size: 1rem;
  }

  .contact-inputs input::placeholder {
    font-size: 1.5rem;
  }

  .subscribe input::placeholder {
    font-size: 1.5rem;
  }

  .box-3 {
    padding-right: 6.2rem;
    margin-left: 2rem;
  }

  .service-image-box {
    padding: 3.2rem;
  }

  .service-description {
    font-size: 1.4rem;
  }

  .service-number {
    font-size: 6.2rem;
  }

  .winemaking-title {
    font-size: 5.2rem;
  }

  .villa-description {
    font-size: 1.4rem;
  }

  .setting-title {
    transform: rotate(270deg) translate(-20%, -67%);
  }

  .setting-description {
    font-size: 1.4rem;
  }

  .setting-heading {
    font-size: 5.2rem;
  }

  .prev-next {
    bottom: 36%;
    left: 46%;
  }

  .heading-primary {
    font-size: 7rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .century-villa {
    margin-bottom: 15rem;
  }

  .enquire {
    font-size: 6.2rem;
  }
}

@media (max-width: 1080px) {
  .right-photo {
    width: 33%;
    transform: translate(44%, 12%) rotate(-9deg);
  }

  .left-photo {
    transform: rotate(7deg) translate(18%, 12%);
    width: 33%;
  }
}

@media (max-width: 1080px) {
  .history-heading {
    font-size: 4.2rem;
    width: 75%;
  }

  .history-desc {
    width: 75%;
    font-size: 1.3rem;
  }

  .history-text {
    padding-left: 10rem;
  }

  .history-number {
    top: -6%;
    right: 33%;
  }

  .main-photo {
    max-width: 60%;
  }

  .secondary {
    width: 25%;
    left: 42%;
    top: 45%;
  }

  .prev-next {
    bottom: 40% !important;
    left: 35%;
  }
  .setting-heading {
    font-size: 4.8rem;
    width: 75%;
    padding-left: 10rem;
  }

  .setting-description {
    font-size: 1.2rem;
    width: 75%;
    padding-left: 10rem;
  }

  .setting-photos {
    justify-content: start;
  }

  .setting-title {
    transform: rotate(270deg) translate(-20%, 0%);
  }

  .center-photo {
    height: 40%;
  }

  .left-photo {
    transform: rotate(7deg) translate(-17%, -15%);
    width: 27%;
  }

  .right-photo {
    width: 27%;
    transform: translate(37%, -15%) rotate(-9deg);
  }

  .top-photo {
    top: 17%;
    transform: translate(50%, 8%) rotate(320deg);
  }

  .setting-prev-next {
    font-size: 4.2rem;
    bottom: 30%;
    right: 2%;
    transform: translate(-61%, 50%);
  }

  .century-heading {
    font-size: 4.2rem;
  }

  .villa-description {
    font-size: 1.2rem;
  }

  .section-5 {
    height: 110vh;
  }

  .winemaking-photo {
    max-width: 95%;
    padding-left: 5rem;
    padding-bottom: 10.6rem;
  }

  .winemaking-title {
    font-size: 4.8rem;
  }

  .winemaking-description {
    font-size: 1.4rem;
  }

  .winemaking-text {
    width: 45%;
    padding-left: 10rem;
  }

  .service-image-box {
    width: 35%;
  }

  .service-box {
    padding-left: 9rem;
  }

  /* .service-nav {
    justify-content: space-around;
  } */

  .winemaking-dots {
    bottom: 5%;
    left: 47%;
  }
  .cube3 {
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 13px;
  }

  .prev-next {
    font-size: 4.2rem;
  }

  .winemaking-box {
    gap: 5rem;
  }

  .fName,
  .lName,
  .email,
  .phone,
  .textarea {
    font-size: 1rem;
  }

  .send {
    font-size: 1.6rem;
  }

  .email-link,
  .phone-link {
    font-size: 1.2rem;
  }

  .contact {
    gap: 6.5rem;
  }

  .enquire {
    font-size: 5.2rem;
  }

  .service-list-box {
    grid-template-columns: 1fr;
    row-gap: 10rem;
    margin-top: 0;
  }

  .list-1 {
    grid-column: 1;
  }

  .list-2 {
    grid-column: 1;
  }

  .list-3 {
    grid-column: 1;
  }

  .service-image-box {
    padding: 2.8rem;
    width: 40%;
  }

  .service-description {
    font-size: 1.4rem;
  }

  .service-number {
    font-size: 6.4rem;
  }

  .service-title {
    font-size: 2.4rem;
  }

  .span-elements {
    margin-bottom: -2rem;
  }

  .service-details {
    font-size: 1.4rem;
  }

  .service-break-point {
    display: none;
  }

  .list-hover-1,
  .list-hover-2,
  .list-hover-3 {
    width: 127%;
  }

  .btn {
    font-size: 4.8rem;
  }

  .service-heading {
    font-size: 4.8rem;
  }

  .th-century {
    padding: 4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .read-more {
    display: none;
  }
  .history-text {
    padding-left: 0rem;
  }

  .main-photo {
    max-width: 65%;
  }

  .secondary {
    width: 30%;
    top: 40%;
  }

  .history-number {
    top: -6%;
    right: 23%;
  }

  .setting-heading {
    padding-left: 0rem;
  }

  .setting-description {
    padding-left: 0rem;
  }

  .setting-title {
    transform: rotate(270deg) translate(-44%, -51%);
  }
  .setting-photos {
    justify-content: center;
  }

  .right-photo {
    width: 35%;
    transform: translate(77%, -10%) rotate(-9deg);
  }

  .left-photo {
    transform: rotate(7deg) translate(-17%, -10%);
    width: 35%;
  }

  .top-photo {
    top: 17%;
    transform: translate(44%, -3%) rotate(320deg);
  }

  .setting-prev-next {
    right: -10%;
  }

  .century-villa {
    gap: 0rem;
  }

  .villa-1-photo,
  .villa-2-photo,
  .villa-4-photo {
    max-width: 90%;
    height: 90%;
  }

  .villa-description {
    font-size: 1rem;
  }

  .cube3 {
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 3.7rem;
    margin-left: 1rem;
    width: 87%;
    height: 42%;
  }

  .cube2 {
    padding-left: 1rem;
  }

  .service-box {
    padding-left: 0rem;
  }

  .winemaking-text {
    width: 45%;
    padding-left: 0rem;
  }

  .winemaking-photo {
    max-width: 100%;
    padding-left: 5rem;
    padding-bottom: 10.6rem;
  }

  .nav-links {
    font-size: 1.4rem;
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 4rem 5rem 0;
  }

  #side-bar {
    width: 100%;
  }

  .number-text {
    transform: translate(150%, 102%) rotate(90deg);
  }
  .case-1 {
    display: none;
  }

  .case-2 {
    display: block;
  }

  .btn {
    font-size: 3.8rem;
  }

  .prev-next {
    bottom: -5% !important;
    left: 35%;
    transform: translate(-58%, 80%);
  }

  .history-desc {
    font-size: 2.2rem;
  }

  .setting-heading {
    width: 100%;
    font-size: 5.8rem;
  }

  .setting-description {
    font-size: 2.4rem;
    color: #292929;
    width: 100%;
  }

  .century-heading {
    font-size: 6.2rem;
    font-family: "BrooklynSamuelsFive-Light";
  }

  /* ****CAROUSEL** */
  .carousel-case-2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr minxmax(auto, 60%) 1fr;
    grid-column-gap: 0rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
    overflow: visible;
  }

  .card img {
    width: 100%;
    /* height: auto */
    height: 380px;
    object-fit: cover;
    /* transition: opacity 1s, transform 1s; */
  }

  .villa-1-photo,
  .villa-2-photo,
  .villa-4-photo {
    max-width: 500px;
    height: 400px;
  }

  #villa-2 {
    transform: scaleX(1.5);
  }

  .carousel-case-2::-webkit-scrollbar {
    display: none;
  }
  /* *********************** */

  .carousel-inner {
    position: relative;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
  }

  .history-heading {
    margin-bottom: 10rem;
  }

  .history-desc {
    margin-top: 3rem;
    width: 100%;
    color: #292929;
    line-height: 1.5;
  }

  .center-photo {
    height: 100%;
    transform: translate(0%, 80%);
  }

  .setting-title {
    transform: rotate(360deg) translate(0%, 282%);
    bottom: 50%;
    right: 2%;
  }

  .right-photo {
    width: 57%;
    transform: translate(53%, 80%) rotate(-9deg);
  }

  .left-photo {
    transform: rotate(7deg) translate(-28%, 85%);
    width: 57%;
  }

  .top-photo {
    position: absolute;
    top: 45%;
    transform: translate(1%, 46%) rotate(320deg);
    width: 39%;
  }

  .setting-prev-next {
    font-size: 4.2rem;
    bottom: -90%;
    transform: translate(-128%, 50%);
  }

  .section-4 {
    padding: 75rem 0 10rem 0;
    background-color: #f0f0f0;
  }

  .century-heading {
    font-size: 5.2rem;
  }

  .villa-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.6rem;
  }

  .arrows {
    display: flex;
    gap: 2rem;
    width: 30px;
    height: 30px;
  }

  .btn-arrow {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }

  .setting-arrow-left {
    transform: rotate(180deg);
  }

  .foo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .enquire-container {
    background-color: #386741;
    width: 70%;
    padding: 2rem;
    justify-content: center;
    margin: 0 auto;
  }

  .enquire {
    font-size: 3.2rem;
    color: #fff;
    margin: 0;
  }

  .villa-description {
    margin-top: 1.6rem;
    font-size: 2.6rem;
    color: #595959;
    opacity: 1;
  }

  .century-text-box-case-2 {
    width: 70%;
    margin: 0 auto;
    padding: 7.6rem;
  }

  .th-century {
    padding: 0;
    font-size: 2.8rem;
  }

  .service-heading {
    font-size: 4.8rem;
    margin-bottom: 3.4rem;
  }

  .section-5 {
    height: 175vh;
  }

  .service-description {
    font-size: 2.4rem;
  }

  .service-photo {
    margin: 3.2rem 0;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .service-number {
    grid-column: 2/-1;
    color: #386741;
    opacity: 1;
    font-size: 10rem;
    margin-top: 5rem;
  }

  .total {
    font-size: 7rem;
  }

  .service-title {
    font-size: 3.2rem;
  }

  .service-details {
    color: #595959;
    font-size: 1.8rem;
  }

  .service-title-details-mobile {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .service-photo {
    margin: 3.2rem 0;
    /* width: 100vw; */
  }

  .service-photo-case-2 {
    background-image: url("./images/service/service.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin: 5rem 0;
  }

  .container-fluid {
    --bs-gutter-x: 0;
  }

  .winemaking-box {
    padding-top: 8.4rem;
    display: block;
  }

  .winemaking-title {
    font-size: 5.2rem;
  }

  .winemaking-text {
    width: 100%;
  }

  .winemaking-description {
    font-size: 2.4rem;
    color: #000;
  }

  .section-6 {
    height: 180vh;
  }

  .winemaking-dots {
    bottom: 8%;
    gap: 2rem;
  }

  .wine-dot {
    height: 2.4rem;
    width: 2.4rem;
  }

  .winemaking-photo {
    background-color: #f1e8cf;
    margin-top: 5rem;
  }

  footer {
    height: 60vh;
  }

  .social-media {
    display: none;
  }

  .box-2 {
    display: none;
  }

  .foot-links {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .privacy-policy {
    display: none;
  }

  .contact {
    flex-direction: column-reverse;
    gap: 0;
  }

  .desktop-heading {
    display: none;
  }

  .email-link,
  .phone-link {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .contact-heading {
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  .divider {
    border-bottom: 1px solid #bbb;
    margin-top: 5rem;
  }
}

@media (max-width: 664px) {
  .history-heading {
    padding-left: 2rem;
    margin-bottom: 10rem;
    font-size: 5.2rem;
  }

  .history-desc,
  .setting-heading,
  .setting-description,
  .service-heading,
  .service-description,
  .read-more-btn,
  .service-title-details-mobile,
  .winemaking-text,
  .contact-list {
    padding-left: 2rem;
  }

  .service-number {
    padding-right: 2rem;
  }

  .setting-prev-next {
    bottom: -65%;
    right: -35%;
  }

  .century-heading {
    padding-left: 0;
  }

  .enquire-container {
    width: 100%;
  }

  .center-photo {
    height: 85%;
    transform: translate(0%, 80%);
  }
  .left-photo {
    transform: rotate(7deg) translate(0%, 85%);
    width: 55%;
  }

  .right-photo {
    width: 55%;
    transform: translate(15%, 83%) rotate(-9deg);
  }

  .service-title {
    font-size: 4.2rem;
  }

  .service-details {
    color: #595959;
    font-size: 2.8rem;
    margin-top: 3rem;
  }
} ;
